<%- include("partials/header.ejs")%>


  <div class="container bio">
    <h2>drivers biography:</h2>
    <p> <br> text ever since the 1500s, when an unknown printer took a galley <br> of type and scrambled it to make a
      type specimen <br> It has survived not only five centuries,<br><br>
      but also the leap into electronic typesetting,<br> remaining essentially unchanged.</p>
  </div>

  <div class="container ">
    <h1>our partners:</h1>
  </div>

  <div class="container bio">
    <div class="row">
      <div class="col-sm my-2">

        <img class="logoimg" src="ts-logo-square-fullname-600x600 (1).png" alt="">
      </div>
      <div class="col-sm my-2">
        <a class="btn btn-outline-danger" href="https://topspeed.com/cars/makes/"> topspeed</a><br><br>
        <p>text ever since the 1500s, when an unknown printer took a galley <br> of type and scrambled it to make a type
          specimen <br> It has survived not only five centuries,<br>text ever since the 1500s, when an unknown printer
          took a galley</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm my-2">

        <img class="logoimg" src="_GAGaQnc.jpeg" alt="">
      </div>
      <div class="col-sm">
        <a class="btn btn-outline-danger"
          href="https://www.wheels.ca/top-ten/these-are-ten-biggest-automakers-in-the-world/"> wheels</a>
        <p>text ever since the 1500s, when an unknown printer took a galley <br> of type and scrambled it to make a type
          specimen <br> It has survived not only five centuries,<br>text ever since the 1500s, when an unknown printer
          took a galley</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm my-2">
        <img class="logoimg" src="Screen-Shot-2019-01-10-at-9.58.34-AM.png" alt="">
      </div>
      <div class="col-sm my-2">
        <a class="btn btn-outline-danger"
          href="https://www.automotive-technology.com/articles/largest-automobile-manufacturing-companies-in-the-world">
          automotive</a>
        <p>text ever since the 1500s, when an unknown printer took a galley <br> of type and scrambled it to make a type
          specimen <br> It has survived not only five centuries,<br>text ever since the 1500s, when an unknown printer
          took a galley</p>
      </div>
    </div>
  </div>


  <%- include("partials/footer.ejs")%>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>


</body>

</html>