<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<title></title>
</head>
<body style="background-image: linear-gradient(to left, #051937, #0b173a, #13153c, #1c113d, #250c3d);">
    <div style="background-color: rgba(39, 52, 65, 0.486); padding: 35px; max-width: 500px; margin-top: 2rem; color: white;" class="container">
        <h1>sign in</h1>
        <form>
            <label>uname</label><br>
            <input style="max-width: 450px;" id="uname" type="text" class="form-control my-2" name="uname"><br>
            <label>pass</label><br>
            <input style="max-width: 450px;" id="pass" type="text" class="form-control my-2" name="pass"><br>
            <input class="btn btn-primary" type=button value="submit" onclick="change()" />
        </form>
    </div>
        
    <script src="script.js"></script>
</body>
</html>