<%- include("partials/header.ejs")%>

<div style="color: white;" class="container aos-init aos-animate" data-aos="fade-up">

  <div class="section-title">

  </div>

  <div class="row content">
    <div class="col-lg-6 my-2">
      <h1>bmw m5 f90</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <ul>
        <li style="font-size: 15px;"><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
        <li style="font-size: 15px;"><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
        <li style="font-size: 15px;"><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
      </ul>
      <p>price:<span style="font-size: 40px;">19875$</span></p>
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 my-2">
      <img style="max-width: 375px;" src="bmw-m3-rndering.jpg" alt=""><br>
      <a href="#" class="btn btn-primary my-2">add to card</a>
      <a href="#" class="btn btn-primary my-2">buy now</a>
    </div>
  </div>

</div>
<div class="container my-2">
  <div class="row blog">
      <div class="col-md-12">
          <div id="blogCarousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators my-2">
                  <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#blogCarousel" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">

                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://auto.vercity.ru/gallery/img/automobiles/BMW/2018%20BMW%20M5%20Brilliant%20White%20by%20Abu%20Dhabi%20Motors%20(F90)/900x/1532242217.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://auto.vercity.ru/gallery/img/automobiles/BMW/2020-04%20BMW%20M5%20on%20ADV_1%20Wheels%20(ADV5_0%20FLOWSPEC)%20(Alpine%20White)%20(F90)/900x/1587401243.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://auto.vercity.ru/gallery/img/automobiles/BMW/2020-04%20BMW%20M5%20on%20ADV_1%20Wheels%20(ADV5_0%20FLOWSPEC)%20(Alpine%20White)%20(F90)/900x/1587401247.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://cdn.riastatic.com/photosnewr/auto/newauto_photos/bmw-m5__812567-620x415x70.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://img5.goodfon.com/wallpaper/nbig/a/70/bmw-2019-manhart-mh5-800-m5-f90-sedan-salon-interer-v8-bitur.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://img4.goodfon.ru/wallpaper/nbig/e/f2/bmw-i8-roadster-2018-salon-rul.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS45Yh5CA0BabY6JoENxQ1XSC7JXcNTB3MwOQ&usqp=CAU" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <a href="#">
                                  <img class="img-thumbnail" src="https://aczpix.b-cdn.net/wp-content/uploads/2018/05/foto-m5-f90-comp_12.jpg" alt="Image" style="max-width:100%;">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div style="height: 50px;">

</div>
<script>
  	$('#blogCarousel').carousel({
				interval: 5000
		});
</script>

<%- include("partials/footer.ejs")%>